@import '../../helpers/variables.scss';

.task {
  font-size: 20px;
  font-weight: 400;
  background-color: $super-light-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  max-width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &Done {
    background-color: $grey;

  .name {
    text-decoration: line-through;
  }
}
  @media (max-width: 600px) {
    font-size: 18px;
    padding: 15px;
  }
}

.name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
}

.icon {
  font-size: 20px;
  background-color: transparent;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  &:hover {
    transform: scale(1.2);
  }
  &.del {
    color: $red;
  }
  &.edit {
    color: $light-green;
  }
  &.back {
    color: $light-purple;
    transition: all 0.4s ease-out;
  }
  &.check {
    color: $light-purple;
  }
}

.textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-grey;
  width: 100%;
  font: inherit;
  resize: none;

  &:focus,
  &:active {
    outline: none;
  }

  &Wrapper {
    position: relative;

    &:before {
      content: attr(data-text);
      opacity: 0;
    }
  }
}