$purple: rgb(101, 63, 140);

.title {
  font-size: 60px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: $purple;
  @media (max-width: 600px) { 
    font-size: 50px;
    margin-bottom: 10px;
  }
}