$white: rgb(226, 220, 231);
$red: rgba(164, 33, 90, 0.8);
$light-grey: rgba(98, 95, 101, 0.08);
$grey: rgba(98, 95, 101, 0.248);
$purple: rgb(101, 63, 140, .9);
$light-purple: rgb(101, 63, 140, 0.8);
$super-light-purple: rgb(101, 63, 140, 0.2);
$green: rgb(8, 76, 58);
$light-green: rgba(12, 93, 71, 0.7);
