@import '../../helpers/variables.scss';

.wrap {
  display: flex;
  flex-flow: column;
}

.none {
  display: none;
}

.actions {
  margin-top: 15px;
  align-self: flex-end;
}

.icon {
  font-size: 20px;
  background-color: transparent;
  align-self: end;
  margin: 0 10px;
  cursor: pointer;  
  transition: all 0.4s ease-out;  

  &:hover {
    transform: scale(1.2);
  }
  &.del {
  font-size: 25px;
  color: $red;
  margin: 20px 10px;
  }
  &.arrow {
  font-size: 23px;
  color: $light-purple;
  }
}


