$super-light-purple: rgb(101, 63, 140, 0.2);
$light-green: rgba(12, 93, 71, 0.7);
$red: rgba(164, 33, 90, 0.8);
$light-purple: rgb(101, 63, 140);

.task__list {
  margin-bottom: 50px;
  @media (max-width: 800px) { 
    margin-bottom: 20px;
  }
}

.task__wrap {
  font-size: 20px;
  font-weight: 400;  
  background-color: $super-light-purple;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  max-width: 100%;
  @media (max-width: 600px) { 
    font-size: 18px;
    padding: 15px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.task__item {
  overflow-x: hidden;
  max-width: 85%;
  border: none;
}

.btn__block {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.btn__icon {
  font-size: 20px;
  background-color: transparent;  
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.4s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.btn__icon_edit {
  color: $light-green;
}

.btn__icon_del {
  color: $red;
}

.text {
  color: $light-purple;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}